[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.14.5"
scikit-learn = ">=0.19.1"
scipy = "==1.1.0"
click = "==6.7"
Cython = "==0.28.3"


[dev-packages]
"bump2version" = "==0.5.8"
watchdog = "==0.8.3"
"flake8" = "==3.5.0"
tox = "==3.0.0"
coverage = "==4.5.1"
cryptography = "==2.2.2"
pytest = "==3.6.3"
pytest-runner = ">=4.2"
mypy = "==0.610"
Sphinx = "==1.7.5"
PyYAML = "==3.12"

[requires]
python_version = "3.6"
