[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "==0.5.10"
watchdog = "==0.9.0"
flake8 = "==3.7.7"
tox = "==3.9.0"
coverage = "==4.5.3"
cryptography = "==2.6.1"
pytest = "==4.4.1"
pytest-runner = ">=4.2"
numpy = "==1.16.3"
scikit-learn = "==0.20.3"
scipy = "==1.2.1"
click = "==7.0"
mypy = "==0.701"
Sphinx = "==2.0.1"
PyYAML = "==5.1"
Cython = "==0.29.7"

[packages]
numpy = "*"
scikit-learn = ">=0.20.2"
scipy = "*"
click = "*"
Cython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
