pip==24.0
bump2version==0.5.10
wheel==0.42.0
watchdog==0.9.0
flake8==3.7.7
tox==3.10.0
coverage==4.5.3
Sphinx==7.2.6
cryptography==42.0.3
PyYAML==6.0.1
pytest==4.5.0
pytest-runner>=4.2
cython==0.29.7
numpy==1.26.4
scikit-learn==1.4.1.post1
scipy==1.12.0
click==7.0
mypy==0.701
