pip==23.1.2
bump2version==0.5.10
wheel==0.40.0
watchdog==0.9.0
flake8==3.7.7
tox==3.10.0
coverage==4.5.3
Sphinx==7.0.0
cryptography==40.0.2
PyYAML==6.0
pytest==4.5.0
pytest-runner>=4.2
cython==0.29.7
numpy==1.24.3
scikit-learn==1.2.2
scipy==1.2.1
click==7.0
mypy==0.701
